spring:
  application:
    name: spring-webflux
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/spring
    username: root
    password: password
    pool:
      initial-size: 5
      max-size: 10
      max-idle-time: 30m
      min-idle: 5
      max-life-time: 30m
      max-create-connection-time: 30s
      validation-query: SELECT 1

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  metrics:
    distribution:
      percentiles-histogram:
        http.server:
          requests: true
